<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="asset/style.css">
    <title>Document</title>
 </head>
 
 <body>
   <div id="app">
      <!-- header -->
      <header>
        <img class="logo" src="asset/img/Logo.png" alt="">
        <h1 class="logo-text">Tobolist</h1>
      </header>
      <!-- menu -->
      <section id="menu">
        <button id="bottone1" @click="addt" @keyup.enter="addt">Add Task</button>
        <input v-model="valoreInput" class="txt" type="text" minlength="1">
        <select name="pets" id="tag-select" v-model="tagSelect">
            <option value="">--choose an option--</option>
            <option value="sales">sales</option>
            <option value="website">website/option>
            <option value="mobile">mobile</option>
            <option value="recruting">recruting</option>
            <option value="q1-goals">q1-goals</option>
            <option value="editorial">editorial</option>
        </select>
      </section>
      <!-- contenitore principale -->
      <section id="cont-princ">
        <!-- sezione New Task -->
        <div>
          <h1 class="sec-title">New Task</h1>
          <ul>
             <li :class=" [(element.done  == false ? 'croce' : 'spunta'), element.tag]" v-for="(element, index) in todos" :key ="index">{{ element.text }}
             <button class="bottone3" @click="done(index)">cambia stato</button>
             <button class="bottone3" @click="deleteTask(index)">X</button>
             </li>
          </ul>
        </div>
      </section>
   </div> 
    <script src="https://unpkg.com/vue@3"></script>
    <script src="main.js"></script>
 </body>

 </html>